<div class="navigation-wrap">

    <ul class="nav">
        <li class="element" routerLinkActive="active"><span routerLink="all">All Categories</span></li>
        <li class="element" routerLinkActive="active"><span routerLink="individual">Individual</span></li>
        <li class="element" routerLinkActive="active"><span routerLink="entity">Entity</span></li>
        <li class="element" routerLinkActive="active"><span routerLink="vessel">Vessel</span></li>
        <li class="element" routerLinkActive="active"><span routerLink="location">Location</span></li>
        <li class="element" routerLinkActive="active"><span routerLink="mass-search">Mass-search</span></li>
    </ul>
</div>